@-moz-document url-prefix("chrome:") {
  html {
    --zs-min-width: 200px;
    --zs-max-width: 300px;
    --zs-hidden-width: var(--zen-element-separation);
    --zs-width: var(--zs-max-width);
  }
  #sidebar-box {
    min-width: var(--zs-min-width) !important;
    max-width: var(--zs-width) !important;
    transition: max-width 150ms, opacity 150ms;
  }
  @media (-moz-bool-pref: 'theme.zen-sidebery.hide_zen_tabbar') {
    #navigator-toolbox {
      position: absolute !important;
      left: -100% !important;
    }
    #zen-sidebar-splitter {
      display: none !important;
    }
    #tabbrowser-tabbox,
    #nav-bar {
      padding-left: var(--zen-element-separation) !important;
    }
    body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide=always]) #tabbrowser-tabbox {
      padding-left: 0 !important;
      gap: 0 !important;
    }
    @media (-moz-bool-pref: 'zen.view.compact.hide-tabbar') or (-moz-bool-pref: 'zen.view.use-single-toolbar') {
      :root[zen-compact-mode=true]:not([customizing]):not([inDOMFullscreen=true]) #zen-appcontent-wrapper {
        margin-left: 0 !important;
      }
      :root[zen-compact-mode=true]:not([customizing]):not([inDOMFullscreen=true]):not([zen-single-toolbar=true]) #sidebar-box {
        margin-top: 0 !important;
      }
    }
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=auto]),
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=always]) {
    --zs-min-width: var(--theme-zen-sidebery-collapse-width);
    --zs-width: var(--theme-zen-sidebery-collapse-width);
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=auto]) #sidebar-box,
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=always]) #sidebar-box {
    z-index: 2;
    position: absolute;
    left: var(--zen-element-separation);
    top: 0;
    bottom: 0;
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=auto]) #tabbrowser-tabbox,
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=always]) #tabbrowser-tabbox {
    padding-left: calc(var(--zs-width) + var(--zen-element-separation) * 2) !important;
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=auto]) #sidebar-splitter,
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=always]) #sidebar-splitter {
    display: none !important;
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse=auto]) #sidebar-box:hover {
    --zs-width: var(--zs-max-width);
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide=always]) {
    --zs-min-width: 0;
    --zs-width: var(--zs-hidden-width);
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide=always]) #sidebar-splitter {
    display: none !important;
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide=always]) #tabbrowser-tabbox {
    padding-left: calc(var(--zen-element-separation)) !important;
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide=always]) #sidebar-box {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide=always]) #sidebar-box:hover {
    --zs-width: var(--zs-max-width);
    opacity: 1;
  }
}

/*# sourceMappingURL=chrome.css.map */
