@mixin zs-variables {
  --zs-min-width: 200px;
  --zs-max-width: 300px;
  --zs-hidden-width: var(--zen-element-separation);
  --zs-width: var(--zs-max-width);
}

@-moz-document url-prefix("chrome:") {
  html {
    @include zs-variables;
  }

  #sidebar-box {
    min-width: var(--zs-min-width) !important;
    max-width: var(--zs-width) !important;
    transition: max-width 150ms, opacity 150ms;
  }

  @media (-moz-bool-pref: "'theme.zen-sidebery.hide_zen_tabbar'") {
    // Hide Zen's native tabbar
    #navigator-toolbox {
      position: absolute !important;
      left: -100% !important;
    }
    // Hide sidebar splitter to prevent resizing
    #zen-sidebar-splitter {
      display: none !important;
    }

    // Left margin in browser when zen tabbar is hidden
    #tabbrowser-tabbox,
    #nav-bar {
      padding-left: var(--zen-element-separation) !important;
    }

    body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide="always"]) {
      #tabbrowser-tabbox {
        padding-left: 0 !important;
        gap: 0 !important;
      }
    }

    // Fix redundant margin in zen compact mode
    :root[zen-compact-mode="true"]:not([customizing]):not(
        [inDOMFullscreen="true"]
      ) {
      @media (-moz-bool-pref: "'zen.view.compact.hide-tabbar'") or (-moz-bool-pref: "'zen.view.use-single-toolbar'") {
        #zen-appcontent-wrapper {
          margin-left: 0 !important;
        }
        &:not([zen-single-toolbar="true"]) {
          #sidebar-box {
            margin-top: 0 !important;
          }
        }
      }
    }
  }

  @mixin zs-collapse {
    #sidebar-box {
      z-index: 2;
      position: absolute;
      left: var(--zen-element-separation);
      top: 0;
      bottom: 0;
    }
    #tabbrowser-tabbox {
      padding-left: calc(var(--zs-width) + var(--zen-element-separation) * 2 ) !important;
    } 
    --zs-min-width: var(--theme-zen-sidebery-collapse-width);
    --zs-width: var(--theme-zen-sidebery-collapse-width);
    #sidebar-splitter {
      display: none !important;
    }
  }
  // Collapse Sidebery
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse="auto"]),
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse="always"]) {
    @include zs-collapse;
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-collapse="auto"]) {
    #sidebar-box:hover {
      --zs-width: var(--zs-max-width);
    }
  }

  @mixin zs-auto-hide {
    --zs-min-width: 0;
    --zs-width: var(--zs-hidden-width);
    #sidebar-splitter {
      display: none !important;
    }
    #tabbrowser-tabbox {
      padding-left: calc(var(--zen-element-separation)) !important;
    } 
    #sidebar-box {
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      &:hover {
        --zs-width: var(--zs-max-width);
        opacity: 1;
      }
    }
  }

  // Auto-hide Sidebery
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide="always"]) {
    @include zs-auto-hide;
  }
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide="compact"]),
  body:has(#theme-Zen-Sidebery[theme-zen-sidebery-auto_hide="fullscreen"]),
  body:has(
      #theme-Zen-Sidebery[theme-zen-sidebery-auto_hide="fullscreen-compact"]
    ) {
    //
  }
}

// @mixin magic-vars {
//   --sidebery-width: 40px;
//   --sidebery-hidden-width: 10px;
//   --sidebery-open-width: 250px;
//   --sidebery-border-color: color-mix(in srgb, var(--sidebar-border-color) 60%, transparent);
//   --sidebery-background-color: var(--zen-colors-tertiary);
//   --lwt-sidebar-background-color: var(--zen-colors-tertiary);
//   --sidebar-background-color: var(--zen-colors-tertiary);
//   --tabbrowser-padding: var(--zen-element-separation);
// }
// @-moz-document url-prefix("chrome:") {
//   html {
//     @include magic-vars;
//   }
//   #sidebar-splitter {
//     margin-right: -2px !important;
//   }
//   #sidebar-box {
//     background-color: var(--zen-colors-tertiary) !important;
//     left: calc(var(--zen-element-separation));
//     border: 1px solid var(--sidebery-border-color) !important;
//     margin-left: 0 !important;
//     margin-right: var(--zen-element-separation) !important;
//   }
//   #sidebar-header {
//     padding: var(--zen-element-separation) !important;
//     border-color: var(--sidebery-border-color) !important;
//     font-size: 1em !important;
//     border-width: 1px !important;
//   }
//   #tabbrowser-tabbox {
//     padding-left: var(--tabbrowser-padding) !important;
//   }
//   @media (-moz-bool-pref: "'theme.sidebery.hide-zen-tabbar'") {
//     #navigator-toolbox {
//       position: absolute;
//       left: -100%;
//     }
//     #zen-sidebar-splitter {
//       display: none;
//     }
//     @media (-moz-bool-pref: "'theme.sidebery.compact-view'") {
//       #sidebar-box {
//         border-left-width: 0 !important;
//         border-top-left-radius: 0 !important;
//         border-bottom-left-radius: 0 !important;
//       }
//     }
//   }
//   @mixin compact-sidebery {
//     #tabbrowser-tabbox {
//       --tabbrowser-padding: calc(var(--sidebery-width) + var(--zen-element-separation));
//     }
//     #sidebar-splitter {
//       display: none;
//     }
//     #sidebar-box {
//       z-index: 2;
//       position: absolute;
//       left: 0 !important;
//       top: 1px;
//       bottom: 1px;
//       box-shadow: none !important;
//       min-width: var(--sidebery-width) !important;
//       width: var(--sidebery-width) !important;
//       &:hover {
//         transition:
//           width 150ms;
//         transition-delay: 50ms;
//         background-color: var(--zen-colors-tertiary) !important;
//         border-color: var(--zen-colors-border) !important;
//         width: var(--sidebery-open-width) !important;
//       }
//       #sidebar-header {
//         display: none !important;
//       }
//       #sidebar {
//         margin-left: var(--zen-element-separation) !important;
//       }
//     }
//   }
//   @media (-moz-bool-pref: "'theme.sidebery.compact-view'") {
//     @include compact-sidebery;
//   }
//   :root:has(#theme-Sidebery[theme-sidebery-layout='auto-hide']),
//   :root[inFullscreen=true]:has(#theme-Sidebery[theme-sidebery-layout='auto-hide-fs']) {
//     @include compact-sidebery;
//     --sidebery-width: var(--sidebery-hidden-width);
//     #tabbrowser-tabbox {
//       --tabbrowser-padding: calc(var(--zen-element-separation) + 2px) !important;
//     }
//     #sidebar-box {
//       opacity: 0;
//       &:hover {
//         opacity: 1;
//       }
//     }
//   }
//   :root[inDOMFullscreen=true] {
//     #tabbrowser-tabbox {
//       --zen-element-separation: 0 !important;
//     }
//   }
//   @media (-moz-bool-pref: "'browser.tabs.allow_transparent_browser'") {
//     window.sidebar-panel,
//     window#webextpanels-window {
//       background-color: transparent !important;
//     }
//     #sidebar-box {
//       background-color: transparent !important;
//       border-color: transparent !important;
//       box-shadow: none !important;
//       #sidebar-header {
//         opacity: 0.75;
//         order: 0;
//         border-style: none !important;
//         border-bottom-style: solid !important;
//       }
//     }
//   }
//   @media (-moz-bool-pref: "'theme.sidebery.sidebar-header.bottom-layout'") {
//     #sidebar-box #sidebar-header {
//       order: 1;
//       border-style: none !important;
//       border-top-style: solid !important;
//       #sidebar-switcher-arrow {
//         list-style-image: url('chrome://global/skin/icons/arrow-up-12.svg') !important;
//       }
//     }
//   }
//   @media (-moz-bool-pref: "'theme.sidebery.sidebar-header.hide'") {
//     #sidebar-box #sidebar-header {
//       display: none !important;
//     }
//   }
// }
